<div class="container">
    <section class="row" data-ng-controller="NewGoodsCtrl">
        <h3 class="col-md-12 text-center">!{{NewGoodsCtrl.state}}!Для добавления нового объявления заполните поля ниже</h3>
        <div class="col-md-6 col-md-offset-3 text-center">
            <form role="form" name="newGoodForm">
                <span ng-show="newGoodForm.title.$invalid">You break my heart</span> 
                <div class="form-group">
                    <input type="text" class="form-control" name="title" ng-model="params.title"  placeholder="Заголовок объявления" required>
                </div>
                <div class="form-group">
                    <textarea class="form-control"  name="description" ng-model="params.description" row="15" placeholder="Описание продукта" required></textarea>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="params.title"  placeholder="Цена в рублях">
                </div>
                <div class="form-inline form-inline--table">
                    <div class="form-group">
                        <select class="form-control">
                            <option>Москва</option>
                            <option>Тверь</option>
                            <option>Питер</option>
                            <option>Тюмень</option>
                            <option>Уфа</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="params.title"  placeholder="Улица">
                    </div>
                    <div class="form-group">
                        <select class="form-control">
                            <option>Пражская</option>
                            <option>Павелецкая</option>
                            <option>Калужская</option>
                            <option>Улица Горачакова</option>
                        </select>
                    </div>
                </div>
                <div class="form-inline form-inline--table">
                    <div class="form-group">
                        <label class="control-label">Пол ребенка</label>
                        <select class="form-control">
                            <option>Мальчик</option>
                            <option>Девочка</option>
                            <option>Унисекс</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Сезон</label>
                        <select class="form-control">
                            <option>Лето</option>
                            <option>Зима</option>
                            <option>Димисезон</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Возраст от</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">до</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="form-inline form-inline--table">
                    <div class="form-group">
                        <button type="file" class="btn btn--width btn-success"><span class="glyphicon glyphicon-upload"></span> Добавить фотографии</button>
                    </div>
                </div>

                <div class="form-inline form-inline--table">
                    <div class="form-group">
                        <button ng-disabled="newGoodForm.$invalid" type="file" class="btn  btn-lg btn--width btn-red"><span class="glyphicon glyphicon-save"></span> Сохранить</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>