.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.ng-invalid.ng-dirty {
  border-color: #FA787E;
}
.ng-valid.ng-dirty {
  border-color: #78FA89;
}

.content--head {
  margin-top: 0;
}

.main_head  {
  position: relative;
  background-image: url('../img/backgrounds-for-nature-desktop-wallpaper-tumblr-vintage-desktop-picture-tumblr-wallpaper.jpg');
  background-position: 50%;
  min-height: 450px;
}

body {
  background: #F5F5F5;
}
header.navbar{
  background-color: rgb(89, 89, 89);
  border: none !important;
  color: #fff;
  margin-bottom: 0;
}
.content {
  margin-top: 0;
}
.container {
  background: #fff;
}
.container--header {
  background: initial;
}
.search-box {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 80px;
}
.search-box--box {
  vertical-align: middle;
}
.form-group {
  padding: 0;
}
.form-row .form-group input {
  width: 100%;
  border-radius: 0;
  height: 44px;
  font-size: 18px;
  color: #222;
}
.btn-search {
  height: 44px;
  border-radius: 0;
  width: 100%;
  font-size: 18px;
  border-color: #ff5a5f;
  border-bottom-color: #e00007;
  background-color: #ff5a5f;
  color: #fff;
}
.btn-search:hover, .btn-search:focus {
  border-color: #ff7e82;
  border-bottom-color: #fa0008;
  background-color: #ff7e82;
  color: #fff;
}
.btn-search--new {
  height: 50px;
  /*border-color: #007a87;*/
  /*border-bottom-color: #004f58;*/
  /*background-color: #007a87;*/
}
.btn-search--new {
  /*border-color: #009aab;*/
  /*border-bottom-color: #006671;*/
  /*background-color: #009aab;*/
}
/* Nav bar */

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .active > a {
  background: transparent;
}
.nav > li > a, .navbar-brand {
  color: #fff;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #868383;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #868383;
}

/*Form groups*/
.form-group input, .form-group select, .form-group button, .form-group textarea {
  border-radius: 0;
  -webkit-appearance: none;
}
.form-group textarea {
  height: 220px;
  width: 100%;
  resize: none;
}
.form-inline--table {
  display: table;
  margin-bottom: 15px;
  width: 100%;
}
.form-inline--table .form-group {
  display: table-cell;
}
.form-inline--table .form-group .form-control {
  width: 100%;
}
.control-label {
  text-align: left;
  width: 100%;
}
ya-map{
    width: 100%;
    height: 400px;
    display: block
}
/*Buttons*/
button:disabled {
  cursor: no-drop;
}
.btn--width {
  width: 100%;
}
.btn-red {
  height: 44px;
  border-radius: 0;
  font-size: 18px;
  border-color: #ff5a5f;
  border-bottom-color: #e00007;
  background-color: #ff5a5f;
  color: #fff;
}
.btn-red:hover, .btn-red:focus {
  border-color: #ff7e82;
  border-bottom-color: #fa0008;
  background-color: #ff7e82;
  color: #fff;
}